<section class="tm-section" *transloco="let t">
    <div class="px-4 sm:px-8">
        <div class="tm-container tm-container-2xs">
            <div class="tm-section-header">{{ t('page.privacy-policy.header') }}</div>
            <ng-container *ngFor="let content of t('page.privacy-policy.content')">
                <p *ngIf="content.type === 'paragraph'" class="tm-section-p" [innerHtml]="content.text"></p>
                <h2 *ngIf="content.type === 'subheader'" class="tm-section-subheader">{{ content.text }}</h2>
                <h3 *ngIf="content.type === 'subheader-2'" class="tm-section-subheader-2 text-lg font-bold">{{ content.text }}</h3>
            </ng-container>
        </div>
    </div>
</section>

<style>
    .tm-section-header + .tm-section-p {
        margin-top: 32px;
    }
    .tm-section-p + .tm-section-p, .tm-section-subheader-2 + .tm-section-p {
        margin-top: 16px;
    }
    .tm-section-subheader + .tm-section-p, .tm-section-p + .tm-section-subheader-2, .tm-section-p + .tm-section-subheader, .tm-section-subheader + .tm-section-subheader-2 {
        margin-top: 32px;
    }
</style>