<section class="tm-section">
    <div class="px-4 sm:px-8">
        <div class="tm-container tm-container-2xs">
            <h1 class="tm-section-header">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</h1>
            <h2 class="tm-section-subheader mt-8">Про нас</h2>
            <p class="tm-section-p mt-8">Ми, команда Сервісу «ПТСР Кідс», піклуємося про ваші персональні дані та робимо все можливе, щоб захистити їх. Ця політика допоможе Вам зрозуміти, що відбувається з вашими персональними даними, коли ви використовуєте наш Сервіс.</p>
            <p class="tm-section-p mt-4">Усі визначення, що вжиті з великої літери, вживаються у такому самому значенні, яке надане їм Умови користування сайтом, що розміщені за посиланням <a  rel="noreferrer" target="_blank" href="https://pdr.efil-web.com/user-agreement">https://pdr.efil-web.com/user-agreement</a></p>

            <h2 class="tm-section-subheader mt-8">Які дані ми обробляємо</h2>
            <h3 class="mt-8 text-lg font-bold">Інформація про використання</h3> 
            <p class="tm-section-p mt-4">Ми збираємо інформацію про використання про вас кожного разу, коли ви взаємодієте з нашими веб-сайтами та службами. Це стосується того, які веб-сторінки ви відвідуєте, що ви натискаєте, коли ви виконуєте ці дії, яку мову ви вибрали тощо.</p>
            <ul class="mt-2">
                <li>- адреса інтернет-протоколу (IP) Вашого пристрою;</li>
                <li>- назва пристрою;</li>
                <li>- версія операційної системи;</li>
                <li>- конфігурація програми під час використання нашого Сервісу;</li>
                <li>- час і дата використання Сервісу тощо.</li>
            </ul>
            <h2 class="tm-section-subheader mt-8">Мета обробки персональних даних</h2>
            <p class="tm-section-p mt-8">Ми обробляємо Ваші персональні дані для однієї або декількох цілей:</p>
            <ul class="mt-2">
                <li>- забезпечення роботи Сервісу, його технічної підтримки та покращення;</li>
                <li>- обробки Ваших запитів та комунікації з Вами;</li>
                <li>- ведення статистики та аналітики ефективності нашої діяльності;</li>
                <li>- запобігання шахрайству та захист наших законних інтересів.</li>
            </ul>
            <h2 class="tm-section-subheader mt-8">Сторонні сервіси та передача даних третім особам</h2>
            <p class="tm-section-p mt-8">Ми не продаємо та не передаємо Ваші дані, отримані для надання послуг, третім особам, за винятком випадків, передбачених нижче.</p>
            <p class="tm-section-p mt-4">Для досягнення цілей, зазначених в цій Політиці, в деяких випадках ми повинні забезпечити доступ до Ваших персональних даних нашим співробітникам та (або) партнерам, зокрема:</p>
            <ul class="mt-2">
                <li>- технічним платформам та сервісам, які забезпечують роботу або доступність Сервісу;</li>
                <li>- технічним платформам та сервісам, за допомогою яких ми зберігаємо та структуруємо дані;</li>
            </ul>
            <p class="tm-section-p mt-4">Ми можемо наймати сторонні компанії та приватних осіб з таких причин:</p>
            <ul class="mt-2">
                <li>a) для покращення нашого Сервісу;</li>
                <li>b) надавати послуги або доступ до Сервісу від нашого імені;</li>
                <li>c) для надання послуг, пов’язаних з Сервісом, або щоб допомогти нам в аналізі того, як використовується Сервіс.</li>
            </ul>
            <p class="tm-section-p mt-2">Сервіс використовує сторонні служби, які можуть збирати інформацію, яка використовується для ідентифікації Користувача. Посилання на політику конфіденційності сторонніх постачальників послуг, що використовуються Сервісом:</p>
            <ul class="mt-2">
                <li>a) Facebook (<a  rel="noreferrer" target="_blank" href="https://www.facebook.com/about/privacy/update/printable">https://www.facebook.com/about/privacy/update/printable</a>).</li>
            </ul>
            <p class="tm-section-p mt-2">Сервіс може містити посилання на інші веб-сайти. Якщо Ви натиснете на стороннє посилання, Ви перейдете на цей сайт. Зверніть увагу, що цими зовнішніми веб-сайтами ми не управляємо. Тому ми рекомендуємо переглянути політику конфіденційності цих веб-сайтів. Ми не контролюємо та не несемо відповідальності за вміст, політику конфіденційності чи роботу будь-яких сторонніх сайтів або послуг.</p>
            <h2 class="tm-section-subheader mt-6">6. Права Користувача щодо персональних даних</h2>
            <p class="tm-section-p mt-6"></p>
            <p class="tm-section-p mt-6"></p>
        </div>
    </div>
</section>

<div class="MarkdownParser_wrap__e2_P_ undefined">
    <p><strong></strong></p>






    <p><strong>6.	Права Користувача щодо персональних даних</strong></p>
    <p>6.1.	У Вас, як у суб'єктів персональних даних, є всі права, які передбачені ст. 8 Закону України «Про захист персональних даних», зокрема це такі:</p>
    <p>a)	Право на доступ до інформації. Ви можете запитати пояснення обробки ваших персональних даних.</p>
    <p>b)	Право на портативність. Ви можете запросити всі дані, які надали нам, а також зробити запит на передачу даних іншому контролеру.</p>
    <p>c)	Право на обмеження обробки. Ви можете частково або повністю заборонити нам обробляти ваші персональні дані.</p>
    <p>d)	Право на подачу скарг. Ви можете подати скаргу до регуляторного органу, визначеного законом.</p>
    <p>e)	Право на видалення даних. Ви можете відправити нам запит на видалення ваших персональних даних з наших систем.</p>
    <p>6.2.	Щоб скористатися своїми правами напишіть нам листа на контакту електронну пошту.</p>
    <p><strong>7.	Вікові обмеження</strong></p>
    <p>7.1.	Зверніть увагу, ми свідомо не обробляємо персональні дані осіб, молодших 16-ти років. Якщо Вам менше 16 років або ж Ви законний
    представник такої особи, будь ласка, повідомте нам про це на електронну пошту.</p>
    <p><strong>8.	Інші умови та контактна інформація</strong></p>
    <p>8.1.	Ми можемо час від часу оновлювати цю Політику, таким чином, рекомендуємо періодично переглядати цю сторінку. Звичайно, ми повідомимо Вас про будь-які зміни, опублікувавши нову редакцію Політики тут.</p>
    <p>8.2.	Ця Політика діє з 01.10.2021.</p>
    <p>8.3.	Якщо у вас є якісь запитання чи пропозиції щодо роботи Сервісу або нашої Політики конфіденційності, напишіть нам на адресу <strong>chertim@ukr.net.</strong></p>
    <p><strong>9.	Файли Cookie</strong></p>
    <p>9.1.	Файли cookie – це невеликі текстові файли, які зберігаються в браузері Вашого пристрою після використання Сервісу.</p>
    <p>9.2.	Файли cookie використовуються для підтримки роботи Сервісу та для підвищення якості досвіду користувача.</p>
    <p>9.3.	Файли cookie, які ми використовуємо, можуть включати в себе інформацію про ваші уподобання щоб ми могли зробити наш Сервіс максимально цікавими для вас.</p>
    <p>9.4.	Які типи файлів cookie ми використовуємо для різних цілей:</p>
    <p>access-token -суворо необхідні -Сеанс - Цей файл cookie, використовується для підтримки авторизації користувача</p>
    <p>_gat_UA-XXXXXXXX-X - GoogleAnalytics - 1 хвилина - Файл cookie для GoogleAnalytics для обмеження кількості запитів
    <a  rel="noreferrer" target="_blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></p>
    <p>_dc_gtm_UA-XXXXXXXX-X -  GoogleAnalytics - Сеанс - Файл cookie диспетчера тегів Google для керування завантаженням тегів скрипту для GoogleAnalytics <a  rel="noreferrer" target="_blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></p>
    <p>__utma - GoogleAnalytics - 24 години - Файл cookie для GoogleAnalytics для ідентифікації користувача
    <a  rel="noreferrer" target="_blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage </a></p>
    <p>__utmb - GoogleAnalytics - 2 роки - Цей файл cookie використовується в GoogleAnalytics для розрізнення користувачів
    <a  rel="noreferrer" target="_blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></p>
    <p>__utmc - GoogleAnalytics - 2 роки - Цей файл cookie використовується в GoogleAnalytics для розрізнення користувачів
    <a  rel="noreferrer" target="_blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></p>
    <p>__utmv - GoogleAnalytics - 2 роки - Цей файл cookie використовується в GoogleAnalytics для розрізнення користувачів
    <a  rel="noreferrer" target="_blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></p>
    <p>APISID - <a  rel="noreferrer" target="_blank" href="https://www.google.com/">google.com</a> - 1 рік - Більшу частину інформації, зібраної за допомогою цих служб, використовують для визначення інтересів користувачів Інтернету. На основі цих профілів інтересу компаніям продають рекламні місця. На сторінках, на яких з’являється реклама клієнтів, ці рекламні оголошення узгоджують із вмістом сторінки.</p>
    <p>SSID - <a  rel="noreferrer" target="_blank" href="https://www.google.com/">google.com</a> - 1 рік - Більшу частину інформації, зібраної за допомогою цих служб, використовують для визначення інтересів користувачів Інтернету. На основі цих профілів інтересу компаніям продають рекламні місця. На сторінках, на яких з’являється реклама клієнтів, ці рекламні оголошення узгоджують із вмістом сторінки.</p>
    <p>PREF - <a  rel="noreferrer" target="_blank" href="https://www.google.com/">google.com</a> - 1 рік - Більшу частину інформації, зібраної за допомогою цих служб, використовують для визначення інтересів користувачів Інтернету. На основі цих профілів інтересу компаніям продають рекламні місця. На сторінках, на яких з’являється реклама клієнтів, ці рекламні оголошення узгоджують із вмістом сторінки. Це звичайний файл cookie, який використовують для більшості служб Google. Зберігає налаштування користувача. Можна використовувати для персоналізації рекламних оголошень під час пошуку в Google.</p>
    <p>SID, NID - <a  rel="noreferrer" target="_blank" href="https://www.google.com/">google.com</a> - 1 рік - Google використовує файли cookie, такі як NID і SID, для налаштування індивідуалізованої реклами в продуктах Google, наприклад GoogleSearch. Наприклад, ми використовуємо такі файли cookie для відстеження ваших останніх пошукових запитів, минулих взаємодій з оголошеннями рекламодавця або результатами пошуку, а також ваших відвідувань веб-сайту рекламодавця. Це дає змогу показувати вам індивідуально орієнтовану рекламу в Google.
    <a  rel="noreferrer" target="_blank" href="https://policies.google.com/technologies/types?hl=de">https://policies.google.com/technologies/types?hl=de</a></p>
    <p>SAPISID - <a  rel="noreferrer" target="_blank" href="https://www.google.com/">google.com</a> - 1 рік - На деяких сторінках нашого сайту є вбудовані відео Youtube, це сервіс Google. Їх використання передбачає повернення цього файлу cookie на додаток до файлів cookie, які потрібні Google, якщо ви підтримуєте активний сеанс з вашим обліковим записом, щоб переглядати відео, оцінювати пропускну здатність і показувати, скільки разів воно було відтворено</p>
    <p>HSID - <a  rel="noreferrer" target="_blank" href="https://www.google.com/">google.com</a> - 1 рік - Google у комбінації з SID використовують для перевірки облікового запису користувача Google і останнього часу входу
    <a  rel="noreferrer" target="_blank" href="https://policies.google.com/technologies/types?hl=de">https://policies.google.com/technologies/types?hl=de</a></p>
    <p>_fbp - Facebook - Таргетинг та реклама - Сесія - Цей файл cookie допомагає показувати нашу рекламу людям, які вже відвідували наш веб-сайт, у Facebook або на цифровій платформі під управлінням FacebookAdvertising.</p>
    <p>fr - Facebook - Таргетинг та реклама - 3 місяці - Цей файл cookie пов’язаний із шифрованими ідентифікаційними номерами Facebook і браузера</p>
    <p>9.5.	Якщо ви хочете відключити cookie, то ви можете зробити це в налаштуваннях вашого мобільного пристрою або знайти інструкції з управління налаштуваннями браузера за цими посиланнями:</p>
    <p>a)	<a  rel="noreferrer" target="_blank" href="https://www.google.com/url?q=https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies&amp;sa=D&amp;source=editors&amp;ust=1635497201052000&amp;usg=AOvVaw26wigrkb0MyGogQ5tSn4ZV">Internet Explorer</a></p>
    <p>b)	<a  rel="noreferrer" target="_blank" href="https://www.google.com/url?q=https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer&amp;sa=D&amp;source=editors&amp;ust=1635497201053000&amp;usg=AOvVaw3m_UFhXZJ6VUEG3-XrrRiB">Firefox</a></p>
    <p>c)	<a  rel="noreferrer" target="_blank" href="https://www.google.com/url?q=https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/&amp;sa=D&amp;source=editors&amp;ust=1635497201053000&amp;usg=AOvVaw3cIMnRBo91bxrx-pHUfbC4">Safari</a></p>
    <p>d)	<a  rel="noreferrer" target="_blank" href="https://www.google.com/url?q=https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy&amp;sa=D&amp;source=editors&amp;ust=1635497201054000&amp;usg=AOvVaw2zPxWM20WWymmjTJTDtx_w">Microsoft Edge </a></p>
    <p>e)	<a  rel="noreferrer" target="_blank" href="https://www.google.com/url?q=https://support.google.com/chrome/answer/95647&amp;sa=D&amp;source=editors&amp;ust=1635497201054000&amp;usg=AOvVaw0lq-IpDEKw3ArZXWqbhxDa">Chrome</a></p>
    <p>f)	<a  rel="noreferrer" target="_blank" href="https://www.google.com/url?q=https://operaru.ru/faq/cookies-management-in-opera&amp;sa=D&amp;source=editors&amp;ust=1635497201055000&amp;usg=AOvVaw3W6lI4TIa20Ey_Hs4epSFV">Opera </a></p></div>

