<section class="tm-section">
    <div class="px-4 sm:px-8">
        <div class="tm-container tm-container-2xs">
            <div class="tm-section-header">Про нас</div>
            <h1 class="tm-section-subheader mt-8">
                Психологічний Центр «FIDES» (м. Вінниця, Україна)
            </h1>
            <p class="tm-section-p mt-8">
                пропонує співпрацю у наступних напрямках:
            </p>
            <ul class="tm-section-list mt-4">
                <li>
                    індивідуальне психологічне консультування онлайн та офлайн – усі категорії;
                </li>
                <li>
                    організація та проведення тренінгів та корекційно-розвиткових заннять – усі категорії;
                </li>
                <li>
                    організація та проведення стажування, підвищення кваліфікації фахівців з психолого-педагогічного, медичного та соціального напрямку;
                </li>
                <li>
                    психодіагностика особистості;
                </li>
                <li>
                    проведення патопсихологічного обстеження та складання патопсихологічного висновку;
                </li>
                <li>
                    проведення скринінгових тестувань кандидатів на роботу з використанням поліграфа; проведення тестувань на поліграфі в інтересах фізичних осіб – детекція брехні, підготовка звітності за результатами тестувань;
                </li>
                <li>
                    організація та проведення конференцій, круглих столів, нетворкінгів, івентів, бранчів за психоедукаційним спрямуванням.
                </li>
            </ul>
            <h2 class="tm-section-subheader mt-8">
                Фахівці Психологічного Центру «FIDES» (м. Вінниця, Україна)
            </h2>
            <p class="tm-section-p mt-8 font-medium">
                У нас працюють доктори та кандидати психологічних наук, професори, доценти, практичні психологи, сертифіковані психотерапевти, коучі та ін.
            </p>
            <p class="tm-section-p mt-4">
                Детальна Інформація про Центр за посиланням: <a href="https://www.fides.vn.ua" target="_blank">http://www.fides.vn.ua/</a>
            </p>
            <p class="tm-section-p mt-4">
                Сторінка FB: <a href="https://www.facebook.com/www.fides.vn.ua" target="_blank">https://www.facebook.com/www.fides.vn.ua</a>
            </p>
            <p class="tm-section-p mt-4">
                Контактний телефон: +38 097 796 62 76 (Україна)
            </p>
            <p class="tm-section-p mt-4">
                Електронна адреса: Shportun_o@ukr.net
            </p>
            <p class="tm-section-p mt-8 text-lg">
                БУДЕМО РАДІ СПІВПРАЦІ З ВАМИ!
            </p>
        </div>
    </div>
</section>