.slidenav-container
    height: 100%

.sidenav-content
    display: flex
    height: 100%
    align-items: center
    justify-content: center

.mat-nav-list
    padding: 0
    border-top: 1px solid rgba(0, 0, 0, 0.12)

.mat-list-item
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)