<section class="tm-section">
    <div class="tm-container tm-container-2xs">
        <div class="tm-section-header tm-section-header-lg">ПТСР у дитини</div>
        <p class="tm-section-p">Пережитий травмуючий досвід може стати причиною розвитку посттравматичного стресового розладу (ПТСР) у дітей. Цей процес може стати незворотнім, якщо впустити момент, коли необхідно звернутись до спеціаліста.</p>
        <p class="tm-section-p">Почніть оцінкове тестування прямо зараз</p>
        <a routerLink="/ptsd-test" class="tm-button tm-button-primary tm-button-flat mt-4">Почати тестування</a>
    </div>
</section>
