
@use 'variables' as *
    
@mixin title-1
    font-family: $font-primary
    font-weight: 700
    font-size: 48px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin title-2
    /* Title 2 */
    font-family: $font-primary
    font-weight: 700
    font-size: 32px
    line-height: 1.2em

@mixin title-3
    /* Title 3 */
    font-family: $font-primary
    font-weight: 600
    font-size: 36px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin subtitle-1
    /* Subtitle 1 */
    font-family: $font-primary
    font-weight: 500
    font-size: 16px
    line-height: 1.2em

@mixin subtitle-2
    /* Subtitle 2 */

    font-family: $font-primary
    font-weight: 500
    font-size: 18px
    line-height: 1.2em

@mixin subtitle-3
    /* Subtitle 3 */
    font-family: $font-primary
    font-weight: 600
    font-size: 20px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin body-1
    /* Body 1 */
    font-family: $font-primary
    font-size: 18px
    font-weight: 400
    line-height: 1.25em

@mixin body-2
    /* body 2 */
    font-family: $font-primary
    font-weight: 400
    font-size: 16px
    line-height: 1.4em

@mixin body-3
    /* body 3 */
    font-family: $font-primary
    font-weight: 400
    font-size: 14px
    line-height: 1.25em