/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind components
@tailwind utilities

$media-sm: 640px
$media-md: 768px
$megia-lg: 1024px
$megia-xl: 1280px
$megia-2xl: 1536px

$color-grey-blue-dark: #495C66
$color-green: #95AB63
$color-green-light: #E2F0D6

$color-grey-tetriary: #F4F6EC

$color-background: #FEFFFD
$color-base: $color-grey-blue-dark
$color-gray: #ccc
$color-gray-medium: #777
$color-stroke: #333
$color-primary: $color-green
$font-primary: 'Exo 2', sans-serif
$global-line-height: 1.2em

$section-gap: 4rem
$section-gap-sm: 6rem
$section-header-gap: 2rem
$section-header-gap-sm: 3rem

:root
    --color-primary: #{$color-primary}

@mixin title-1
    font-family: $font-primary
    font-weight: 700
    font-size: 48px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin title-2
    /* Title 2 */
    font-family: $font-primary
    font-weight: 700
    font-size: 32px
    line-height: 1.2em

@mixin title-3
    /* Title 3 */
    font-family: $font-primary
    font-weight: 600
    font-size: 36px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin body-2
    /* body 2 */
    font-family: $font-primary
    font-weight: 400
    font-size: 16px
    line-height: 1.25em

@mixin body-3
    /* body 3 */
    font-family: $font-primary
    font-weight: 400
    font-size: 14px
    line-height: 1.25em

:root
    --background-color: #{$color-background}
    --color-base: #{$color-base}
    --color-gray: #{$color-gray}
    --color-gray-medium: #{$color-gray-medium}
    --color-stroke: #{$color-stroke}

html, body, app-root
    min-height: 100vh
    background-color: var(--background-color)
    color: var(--color-base)
    font-family: $font-primary
    line-height: $global-line-height
    font-size: 16px

svg
    width: 100%

.wrapper
    min-height: 100vh
    display: flex
    flex-direction: column

.content
    flex: 1 0 auto

header  
    position: relative
    z-index: 50
    background-color: $color-grey-tetriary

footer
    flex: 0 0 auto
    background-color: $color-grey-tetriary

.tm-section
    padding: 56px 0
    &-sm
        padding: 32px 0
    &-lg
        padding: 80px 0

.tm-section-header
    @include title-2

.tm-container
    max-width: 1200px
    margin: auto
    &-2xs
        max-width: 768px
    &-xs
        max-width: 880px
    &-sm
        max-width: 960px
    &-md
        max-width: 1040px
    &-full
        max-width: none

.tm-button
    @include body-2
    background-clip: border-box!important
    background-origin: border-box!important
    height: 48px
    -webkit-font-smoothing: antialiased!important
    -moz-osx-font-smoothing: grayscale
    display: -ms-inline-flexbox
    display: inline-flex
    -ms-flex-align: center
    align-items: center
    -ms-flex-pack: center
    justify-content: center
    text-align: center
    border-radius: 8px
    padding: 4px 36px
    white-space: nowrap
    cursor: pointer
    text-decoration: none
    box-sizing: border-box
    border: 1px solid transparent
    transition-duration: .1s
    transition-property: all

    &-stroked
        border-width: 1px
        border-style: solid
        border-color: $color-stroke
        background: $color-background
        color: $color-base

    &-stroked#{&}-primary
        border-color: $color-primary
        color: $color-grey-blue-dark
        background: transparent
        &:not(:disabled):hover
            background: rgba($color-primary, 0.1)

    &-flat#{&}-primary
        background: $color-primary
        color: $color-background
        &:disabled
            background: lighten($color-primary, 20%)
        &:not(:disabled):hover
            background: darken($color-primary, 5%)

    &-flat-primary
        background: $color-primary

    &--async
        background: #eef1f6
        color: #56667d
        border: 1px solid #cfd7e6
        cursor: wait
        outline: 0

    &-sm
        @include body-3
        padding: 4px 18px
        height: 36px

.tm-button-width
    width: 216px

input[type="radio"]
    display: flex
    justify-content: center
    align-items: center
    appearance: none
    background-color: transparent
    margin: 0
    min-width: 16px
    width: 16px
    height: 16px
    border: 2px solid #ABB3A0
    border-radius: 50%

input[type="radio"]::before
    display: block
    content: ""
    width: 8px
    height: 8px
    background-color: #ABB3A0
    border-radius: 50%
    opacity: 0

input[type="radio"]:checked::before
    opacity: 1
