/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind components
@tailwind utilities

$media-sm: 640px
$media-md: 768px
$media-2md: 880px
$media-lg: 1024px
$media-xl: 1280px
$media-2xl: 1536px

$color-grey-blue-dark: #495C66
$color-blue-oceanic: #3B75BF
$color-green: #95AB63
$color-green-light: #E2F0D6

$color-grey-tetriary: #F4F6EC

$color-background: #FEFFFD
$color-base: $color-grey-blue-dark
$color-gray: #ccc
$color-gray-medium: #777
$color-stroke: #333
$color-primary: $color-green
$font-primary: 'Exo 2', sans-serif
$global-line-height: 1.4em

$section-gap: 4rem
$section-gap-sm: 6rem
$section-header-gap: 2rem
$section-header-gap-sm: 3rem

:root
    --list-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20 6.49609L9 17.4961L4 12.4961' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat 50% 50%
    --color-primary: #{$color-primary}

@mixin title-1
    font-family: $font-primary
    font-weight: 700
    font-size: 48px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin title-2
    /* Title 2 */
    font-family: $font-primary
    font-weight: 700
    font-size: 32px
    line-height: 1.2em

@mixin title-3
    /* Title 3 */
    font-family: $font-primary
    font-weight: 600
    font-size: 36px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin subtitle-2
    /* Subtitle 2 */

    font-family: $font-primary
    font-weight: 600
    font-size: 16px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin subtitle-3
    /* Subtitle 3 */
    font-family: $font-primary
    font-weight: 600
    font-size: 24px
    line-height: 1.2em
    letter-spacing: -0.02em

@mixin body-1
    /* Body 1 */
    font-family: $font-primary
    font-size: 18px
    font-weight: 400
    line-height: 1.25em

@mixin body-2
    /* body 2 */
    font-family: $font-primary
    font-weight: 400
    font-size: 16px
    line-height: 1.4em

@mixin body-3
    /* body 3 */
    font-family: $font-primary
    font-weight: 400
    font-size: 14px
    line-height: 1.4em

:root
    --background-color: #{$color-background}
    --color-base: #{$color-base}
    --color-gray: #{$color-gray}
    --color-gray-medium: #{$color-gray-medium}
    --color-stroke: #{$color-stroke}

html, body, app-root
    min-height: 100vh
    background-color: var(--background-color)
    color: var(--color-base)
    font-family: $font-primary
    line-height: $global-line-height
    font-size: 16px

svg
    width: 100%

.wrapper
    min-height: 100vh
    display: flex
    flex-direction: column

.content
    flex: 1 0 auto

header  
    position: relative
    z-index: 50
    background-color: $color-grey-tetriary

footer
    flex: 0 0 auto
    background-color: $color-grey-tetriary

.tm-section
    padding: 56px 0
    &-sm
        padding: 32px 0
    &-lg
        padding: 80px 0
    &-primary
        background: $color-grey-tetriary
    color: $color-base
    &-pt-0
        padding-top: 0
    &-pb-0
        padding-bottom: 0
    &-p-0
        padding-top: 0
        padding-bottom: 0

.tm-panel
    border: 2px solid $color-grey-tetriary
    padding: 24px
    border-radius: 4px
    box-shadow: 0px 5px 15px 0px rgba(183, 183, 183, 0.15)

.tm-section-p
    &-md
        @include body-1
    &-lg
        @include body-1
        line-height: 1.4em
        @media ( min-width: $media-sm )
            font-size: 20px

.tm-section-a
    text-decoration: underline

.tm-section-list
    padding: 0
    list-style: disc
    li
        margin-left: 32px
    li + li
        margin-top: 8px

.tm-section-list-md
    @include body-1
    padding: 0
    padding-left: 16px
    position: relative
    list-style: none
    line-height: 1.25em
    li
        position: relative
        &::before
            position: absolute
            content: ""
            height: 8px
            width: 8px
            border-radius: 50%
            background-color: $color-primary
            top: 8px
            left: -16px
    li + li
        margin-top: 12px

.tm-section-header
    @include title-2
    color: $color-base
    &-lg
        @media ( min-width: $media-sm )
            @include title-1

.tm-section-subheader
    @include subtitle-3

.tm-section-subtitle-2
    @include subtitle-2

.tm-link
    @include subtitle-2
    color: $color-blue-oceanic

.tm-list
    display: block
    padding: 0
    li
        margin-left: 32px
        position: relative
        &::before
            position: absolute
            top: 0
            left: -32px
            display: block
            content: ""
            width: 24px
            height: 25px
            -webkit-mask: var(--list-icon)
            mask: var(--list-icon)
            -webkit-mask-size: cover
            mask-size: cover
            background-color: var(--color-primary)
    li + li
        margin-top: 8px

.tm-container
    max-width: 1200px
    margin: auto
    &-2xs
        max-width: 768px
    &-xs
        max-width: 880px
    &-sm
        max-width: 960px
    &-2md
        max-width: 880px
    &-md
        max-width: 1040px
    &-full
        max-width: none

.tm-button
    @include body-2
    background-clip: border-box!important
    background-origin: border-box!important
    height: 48px
    -webkit-font-smoothing: antialiased!important
    -moz-osx-font-smoothing: grayscale
    display: -ms-inline-flexbox
    display: inline-flex
    -ms-flex-align: center
    align-items: center
    -ms-flex-pack: center
    justify-content: center
    text-align: center
    border-radius: 8px
    padding: 4px 36px
    white-space: nowrap
    cursor: pointer
    text-decoration: none
    box-sizing: border-box
    border: 1px solid transparent
    transition-duration: .1s
    transition-property: all

    &-stroked
        border-width: 1px
        border-style: solid
        border-color: $color-stroke
        background: $color-background
        color: $color-base

    &-stroked#{&}-primary
        border-color: $color-primary
        color: $color-grey-blue-dark
        background: transparent
        &:not(:disabled):hover
            background: rgba($color-primary, 0.1)

    &-flat#{&}-primary
        background: $color-primary
        color: $color-background
        &:disabled
            background: lighten($color-primary, 20%)
        &:not(:disabled):hover
            background: darken($color-primary, 5%)

    &-flat-primary
        background: $color-primary

    &--async
        background: #eef1f6
        color: #56667d
        border: 1px solid #cfd7e6
        cursor: wait
        outline: 0

    &-sm
        @include body-3
        padding: 4px 18px
        height: 36px

.tm-button-icon
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    border-radius: 50%
    border: 2px solid $color-green-light
    background: $color-background
    box-shadow: 0px 5px 15px 0px rgba(183, 183, 183, 0.15)
    

.tm-button-width
    width: 216px

input[type="radio"]
    display: flex
    justify-content: center
    align-items: center
    appearance: none
    background-color: transparent
    margin: 0
    min-width: 16px
    width: 16px
    height: 16px
    border: 2px solid #ABB3A0
    border-radius: 50%

input[type="radio"]::before
    display: block
    content: ""
    width: 8px
    height: 8px
    background-color: #ABB3A0
    border-radius: 50%
    opacity: 0

input[type="radio"]:checked::before
    opacity: 1


.tm-dialog
    &-container
        padding: 24px
    &-title
        @include subtitle-3
        text-align: center
    &-content
        @include body-1
        text-align: center
        margin-top: 16px